@use '../../styles/colors';
@use '../../styles/mixins' as m;

.selection_mode_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  @include m.displayFlex(flex-end, center);
  padding: 20px;

  .checkbox_container {
    position: relative;
    user-select: none;
    width: 30px;
    height: 30px;

    input[type="checkbox"] {
      display: none;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #eee;
      border-radius: 100%;
    }

    &:hover .checkmark {
      background: #ccc;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 11px;
      top: 7px;
      width: 5px;
      height: 10px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      display: none;
    }

    input[type="checkbox"]:checked ~ .checkmark {
      background-color: colors.$tertiaryColor;
    }

    input[type="checkbox"]:checked ~ .checkmark:after {
      display: block;
    }
    
  }
}
