$primaryColor: #0e0e0e;
$secondaryColor: #4444449d;
$tertiaryColor: #ffc21c;
$selectedTertiaryColor: #daa000;
$transparentBackgroundHover: rgba(238, 238, 238, 0.4);
$textPrimaryColor: #dfdfdf;
$textSecondaryColor: #acacac;